div#dynamic-container {
	background-color: transparent; 
	position:relative;
	/*border: 1px solid black;*/
}
div#innerCircle {
	position: relative;
	/*left: 10px;
	top:10px;*/
	background-color: trasnparent;
    border-radius:100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}  

.marker {
    width: 10px;
    height:10px;
    background: black;
    position:relative;
    cursor: crosshair;
    margin-bottom: -10px;
    z-index:17;
}   

#arc {
	position: relative;
}