html, body {
    margin: 0;
}

.time-controller {
    position: relative;
}

#time-pair-container {
    position: absolute;
    display: inline-block;
}

div#dynamic-container {
	background-color: transparent; 
	position:relative;
	/*border: 1px solid black;*/
}
div#innerCircle {
	position: relative;
	/*left: 10px;
	top:10px;*/
	background-color: trasnparent;
    border-radius:100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}  

.marker {
    width: 10px;
    height:10px;
    background: black;
    position:relative;
    cursor: crosshair;
    margin-bottom: -10px;
    z-index:17;
}   

.arc {
	position: relative;
}

.circleLines {
    position: relative;
}

#month-names, #day-names, #month-lines {
    display: inline-block;
    position: absolute;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

#month-names span, #day-names span, #month-lines span {
    font-size: 1em;
    font-family: Franklin Gothic, sans-serif;
    font-weight: 300;
    /*height: 112px;*/
    width: 0.8em;
    display: block;
    /*margin-bottom: -112px;*/
    transform-origin: bottom center;
}

.lines {
    width: 1.5em;
    position: relative;
}

.lines:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0.4em;
    width: 1px;
    height: 10px;
    background-color: black;
}